<!doctype html>
<html lang="ru">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" type="text/css" href="static/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="static/css/main.css">
    <title>{{ the_title }}</title>
  </head>
  
  <body>
    {% block body %}

    {% endblock %}
	<script src="static/js/jquery-3.2.1.slim.min.js"></script>
	<script src="static/js/popper.min.js"></script>
	<script src="static/js/bootstrap.js"></script>
  </body>
  
</html>