{% extends 'base.html' %}

{% block body %}

<div class="site-wrapper">

      <div class="site-wrapper-inner">
        <div class="cover-container">

          <header class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">{{ the_logo_name }}</h3>
              <nav class="nav nav-masthead">
                {% for menu_item in the_main_menu %}
                  {% if loop.index == 1 %}
                <a class="nav-link active" href="{{ menu_item.addr }}">{{ menu_item.name }}</a>
                  {% else %}
                <a class="nav-link" href="{{ menu_item.addr }}">{{ menu_item.name }}</a>
                  {% endif %}
                {% endfor %}
              </nav>
            </div>
          </header>

          {% block main_content %}


          {% endblock %}

          <footer class="mastfoot">
            <div class="inner">
              <p>Разработчик
                <a href="{{ the_developer.addr }}">
                  {{ the_developer.name }}</a>,
                научный руководитель
                <a href="{{ the_sci_advisor.addr }}">
                  {{ the_sci_advisor.name }}</a>.</p>
            </div>
          </footer>

        </div>
      </div>

</div>

{% endblock %}