{% extends 'base.html' %}

{% block body %}


    <nav class="navbar sticky-top navbar-expand-sm navbar-light">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="static/img/logo-1.png" width="82" height="45" alt="Ада лого">
        </a> 
        <h1 class="logo">{{ the_logo_name }}</h1>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse " id="navbarNav">
          <div class="navbar-nav ml-auto w-100 justify-content-end">
			{% for menu_item in the_main_menu %}
				{% if loop.index == the_active_page %}
              <a class="nav-item nav-link active" href="{{ menu_item.addr }}">{{ menu_item.name }}</a>
				{% else %}
			  <a class="nav-item nav-link" href="{{ menu_item.addr }}">{{ menu_item.name }}</a>
				{% endif %}
			{% endfor %}
          </div>
        </div>
      </div>
    </nav>

	{% block main_content %}


    {% endblock %}
	
	<footer class="footer-content sticky-footer">
      <div class="container">
        <div class="developers d-flex justify-content-center">
          <p>
            Разработчик
            <a href="{{ the_developer.addr }}">{{ the_developer.name }}</a>,
            научный руководитель
            <a href="{{ the_sci_advisor.addr }}">{{ the_sci_advisor.name }}</a>.
          </p>
        </div>
      </div>
    </footer>
	
{% endblock %}