{% extends 'header-and-footer.html' %}

{% block main_content %}

<main role="main" class="inner cover">
    <h2 class="cover-heading">
        Количество записей: {{ the_req_count+1 }}
    </h2>
    <div class="log-table">
        <table class="table table-dark table-hover table-striped">
            <thead class="thead-light">
                <tr>
                    <th>Номер</th>
                    <th>Дата</th>
                    <th>Время</th>
                    <th>Пользователь</th>
                    <th>Команда</th>
                </tr>
            </thead>
            <tbody>
            {% for line in the_data %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ line['date'] }}</td>
                    <td>{{ line['time'] }}</td>
                    <td>{{ line['name'] }}</td>
                    <td>{{ line['body'] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</main>

{% endblock %}