{% extends 'header-and-footer.html' %}

{% block main_content %}

<div class="container">
  <main class="log">
    <h3>
        Количество записей: {{ the_req_count+1 }}
    </h3>
        <table class="table table-hover table-striped table-sm">
            <thead class="thead-dark">
                <tr>
                    <th>#</th>
                    <th>Дата</th>
                    <th>Время</th>
                    <th>Пользователь</th>
                    <th>Команда</th>
                </tr>
            </thead>
            <tbody>
            {% for line in the_data %}
                <tr>
                    <td>{{ the_req_count+2-loop.index }}</td>
                    <td>{{ line['date'] }}</td>
                    <td>{{ line['time'] }}</td>
                    <td>{{ line['name'] }}</td>
                    <td>{{ line['body'] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </main>
</div>

{% endblock %}